.formGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));
  grid-gap: 2rem;
  margin: 2rem 0;
}

.fullWidth {
  grid-column-start: 1;
  grid-column-end: -1;
}

.jobTitleGroup {
    display: flex;
    align-items: baseline;;
}
.inputGroup {
    padding: 2rem;
}

.linksContainer {
  margin-top: 1rem;
}

.skillsContainer {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.skills {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
}

.skill {
    margin: 0.25rem;
}

.actionButtonGroup {
    display: flex;
    justify-content: space-between;
}



/* Timeline Styles */

.heading {
    display: flex;
    align-items: baseline;
  }
  
  .date {
    font-size: 0.8rem;
    padding: 0 0.5rem;
    border-radius: 1rem;
  }

  .timelineAvatar {
    margin-right: 1rem;
  }

  .scheduled .timelineAvatar {
    background: #fabb42;
    color: #fff;
  }
  
  .scheduled .circle, .scheduled .date {
    background: #fabb42;
    color: #fff;
  }
  
  .scheduled .content {
    border-color: #fabb42;
  }

  .done .timelineAvatar {
    background: #0ebeff;
    color: #fff;
  }
  
  .done .circle, .done .date {
    background: #0ebeff;
    color: #fff;
  }
  
  .done .content {
    border-color: #0ebeff;
  }
  
  .circle {
    width: 1.5em;
    height: 1.5em;
    background: rgba(0,0,0,0.12);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
  }
  
  .add .circle {
    border-radius: 50%;
    background: #47cf73;
    color: #fff;
    font-size: 1em;
  }
  
  .circle > span {
    font-size: 0.8em;
  }
  
  .circle > i {
    font-size: 1em;
  }
  
  .content {
    margin: 0.5rem 0 0.5rem 1rem;
    padding: 0rem 2rem 2rem;
    border-left: 4px solid rgba(0,0,0,0.12);
    color: rgba(0, 0, 0, 0.54);
  }
  
  input,textarea {
    border: none;
    font-family: inherit;
    color: inherit;
  }
  
  .notes {
    width: 100%;
  }