.skill-list {
    padding-top: 1rem;
  }
  
  .skill {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 1rem;
    padding: 0 0.5rem;
    margin-left: 0.25rem;
  }
  
  
  .skill.have {
    color: #47cf73;
    border-color: #47cf73;
  }