.header {
  display: flex;
  padding: 1rem;
  position: relative;
  box-sizing: border-box;
}

.header-map {
  align-items: flex-end;
  /* background: url(https://developer.here.com/documentation/maps/content/dev_guide/graphics/map-tile-terrain-map.png);
  background-position: center;
  background-size: cover;
  position: relative; */
  min-height: 5rem;
  background: linear-gradient(to bottom, rgba(255,255,255,0.4), rgba(255,255,255,1));
}

/* .header-map::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

/* .header-map > * {
  z-index: 1;
} */

.logo {
flex: 0 0 auto;
margin-right: 1rem;
border-radius: 50%;
width: 2.5rem;
height: 2.5rem;
object-fit: cover;
justify-content: center;
align-items: center;
}

.title {
flex: 1 1 auto;
color: rgba(0, 0, 0, 0.87);
}

.job-type, .company {
color: rgba(0, 0, 0, 0.54);
}