.renumeration {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }

  .min,.max {
    display: flex;
  }
  
  .quoted {
    font-size: 1.5rem;
    white-space: nowrap;
  }
  
  .quoted > .period {
    font-size: 0.875rem;
  }